.pusher.inside {
  padding: 30px;
}

header {
  background-color: white;
}

.pushable {
  background-color: white !important;
}

.logo {
  padding: 10px;
  width: 200px !important;
}

.ui.top.attached.menu {
  margin: 0;
}

.cookbook {
  background: image_url('cookbook.png') no-repeat;
  background-size: contain;
}

.carrot {
  background: image_url('carrot.png') no-repeat;
  background-size: contain;
}

.pyramid {
  background: image_url('pyramid.png') no-repeat;
  background-size: contain;
}

