.pusher, .pushable, body {
  background-color: #1b1c1d !important;
}
.pusher.inside {
  padding: 30px;
  background-color: #1b1c1d;
}
.ui.attached.segment {
  border: none;
}

header {
  background-color: #284080;
  & + .banner {
    content: '';
    width: 100%;
    height: 300px;
    background: image_url('banner.jpg') no-repeat;
    .title {
      color: white;
      font-family: Helvetica, sans-serif;
      font-size: 80px;
      margin: 25px 0 0 10%;
      text-transform: uppercase;
    }
  }
}
.logo {
  padding: 10px;
  width: 60px !important;
  display: inline-block;
  float: left;
  height: 100%;
  vertical-align: middle;
  & + p {
    float: left;
    color: white;
    display: inline-block;
  }
}

.ui.top.attached.menu {
  margin: 0;
}

.cookbook {
  background: image_url('cookbook.png') no-repeat;
  background-size: contain;
}

.carrot {
  background: image_url('carrot.png') no-repeat;
  background-size: contain;
}

.pyramid {
  background: image_url('pyramid.png') no-repeat;
  background-size: contain;
}

