.pusher, .pushable, body {
  background-color: #1b1c1d !important;
}
.pusher.inside {
  padding: 30px;
  background-color: #1b1c1d;
}
.ui.attached.segment {
  border: none;
}
.content {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
header {
  background-color: #1b1c1d;
  & + .banner {
    content: '';
    width: 100%;
    height: 300px;
    background: image_url('banner.jpg') no-repeat;
    background-size: cover;
    .content {
      padding: 20px 0;
    }
    .title {
      max-width: 980px;
      color: white;
      font-family: Helvetica, sans-serif;
      font-size: 80px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.69);
    }
  }
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 150px;
  padding: 10px;
  p {
    padding-left: 10px;
    color: white;
    font-size: 44px;
    font-family: 'Special Elite', serif;
  }
}

.ui.top.attached.menu {
  margin: 0;
}

.cookbook {
  background: image_url('cookbook.png') no-repeat;
  background-size: contain;
}

.carrot {
  background: image_url('carrot.png') no-repeat;
  background-size: contain;
}

.pyramid {
  background: image_url('pyramid.png') no-repeat;
  background-size: contain;
}

h1 {
  font-family: 'Special Elite', serif;
}