ul.recipe {
  max-width: 980px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  li {
    margin: 16px 0;
    cursor: pointer;
  }
  .ui.table {
    border-radius: 0;
    td:first-of-type {
      padding: 0;
    }
  }
  td > .image {
    width: 100%;
    height: 100%;
    float: left;
  }
}