<header>
  <%= image_tag('foodoo_logo.png', class: 'ui small image logo') %>
  <div class="ui inverted top attached menu">
    <a class="item toggle button">
      <i class="sidebar icon"></i>
      Navigation
    </a>
  </div>
</header>
