<div class="ui inverted labeled icon left inline vertical sidebar menu">

  <%= link_to recipes_path, class: 'item' do %>
      <i class="home icon"></i>
      Recipes
  <% end %>

  <a class="item">
    <i class="block layout icon"></i>
    Ingredients
  </a>

</div>