<div class="ui inverted labeled icon left inline vertical sidebar menu">

  <%= link_to recipes_path, class: 'item' do %>
      <i class="cookbook icon"></i>
      Recipes
  <% end %>

  <%= link_to ingredients_path, class: 'item' do %>
      <i class="carrot icon"></i>
      Ingredients
  <% end %>

  <%= link_to food_groups_path, class: 'item' do %>
      <i class="pyramid icon"></i>
      Food Groups
  <% end %>
</div>